:root {
  --c-active: #275EFE;
  --c-active-inner: #FFFFFF;
  --c-default: #D2D6E9;
  --c-default-dark: #C7CBDF;
  --c-black: #1B1B22;
}

body {
  overflow: hidden;
  height: 100vh;
  display: grid;
  place-items: center;
  background: #5e42a5;
}
svg {
  width: 90vw;
  height: auto;
  left: 5vw;
}
line,
path {
  stroke-width: 32px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}